@import url("styles/header.css");

:root{
    --cor-de-fundo: #fdf3fe;
    --branco: #ffff;
    --fonte-principal: "Poppins";
    --fonte-secundaria: "Josefin Sans";
}
body{
    background-color: var(--cor-de-fundo);
}
h1{
    background-color: white;
}
